# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
test_model.py
env/
venv/
.venv/
*.sqlite3

# Node
node_modules/
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# IDE
.vscode/
.idea/

# Local storage
storage/
reports/
